<hr/>

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="md-display">Home</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://www.facebook.com/profile.php?id=61566402757343" target="_blank">
                    <i class="fas fa-paper-plane"></i>
                    <span class="md-display">My Facebook profile</span>
                </a>
            </li>

        </ul>
    </div>
</footer>