---
layout: default
---
{{ content }}


<div class="journals">
    <h2 class="content-subhead">Coupons for my video courses</h2>

   <h3><a href="https://www.udemy.com/course/master-drools/?referralCode=ED7C311E09498C940742">Udemy course - Master Drools programming - from Beginner to Intermediate</a></h3>

    Use one of the following coupon codes:
    <UL>
        <li>
            <a href="https://www.udemy.com/course/master-drools/?couponCode=DROOLS_FEB23_8399B14">DROOLS_FEB23_8399B14</a> - valid 1-28 February 2023
        </li>
    </UL>

   <h3><a href="https://www.udemy.com/course/master-drools-from-intermediate-to-expert/?referralCode=59B6C70D85AC73A1005B">Udemy course - Master Drools - from Intermediate to Expert</a></h3>

    Use one of the following coupon codes:
    <UL>
        <li>

            <a href="https://www.udemy.com/course/master-drools-from-intermediate-to-expert/?couponCode=DROOLS2_FEB23_50CC12">DROOLS2_FEB23_50CC12</a> - valid 1-28 February 2023
        </li>
    </UL>


</div>




